*{
    margin: 0;
  padding: 0;
  text-align: center;
   
  
}
/*body{
    background-color:white;
    color: black;
}*/
h1{
    background: linear-gradient(171deg, #42d392, #647eff, #C0382B );
    text-align: center;
    height: 3rem;
    width: 30rem;
    font-size: 3rem;
    line-height: 3rem;
    align-self: center;
    display: inline-block;
    margin-top: 2px;
    border-radius: 10px;
    background-clip: text;
    color: transparent;
    animation: animate 3s alternate-reverse infinite ;
    
}
button{
    position: fixed;
    top: 10%;
    left: 2%;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background-color:transparent;
    border: none;
    color: black;
}
.option{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    gap: 2rem;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

img{
    height: 150px;
    width: 150px;
    border-bottom-left-radius: 50%;
    object-fit:cover;
    padding: 20px;
    
}
.image{
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*.image img:hover{
    filter: drop-shadow(0 0 10px navy);
}*/

.score{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 1.5rem;
}
.compscore,.userscore{
    font-size:3rem ;
    font-weight: 500;
}
.message{
    background-color: rgb(5, 80, 118);
    color: white;
    border-radius: 5px;
    height: 50px;
    padding:10px;
    line-height:50px ;
    position: relative;
    top:-30px
}
.view{
    display: none;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.view div img{
    height: 50px;
    width: 50px;
    object-fit:cover;
    margin-top: 10px;
}
.dark:hover{
    background-color: rgba(240, 255, 255, 0.121);
    transition: 0.2s ease-in;
}
.dark:active{
    background-color: rgba(240, 255, 255, 0.18);
}
.light:hover{
    background-color:#1a162537 ;
    transition: 0.2s ease-in;
}
.light:active{
    background-color:#1a162552 ;
}
@keyframes animate {
    0%{
        transform: scale(1);
      
    }
    50%{
        
    }
    100%{
       transform: scale(1.2);
    }
}
